.favorites {
    padding-top: 80px;
    padding-bottom: 30px;
}

.favorites__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 26px;
}

.favorites__text {
    font-size: 22px;
}
