*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  color: #EBEEF5;
  background: rgb(18, 24, 41) url("./public/image/background-png.png") no-repeat center / cover;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}
